* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #673ac7;
    width: 100%;
}

.circle {
    transform-style: preserve-3d;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
    }
}

.circle .char {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    color: #35146f;
    font-size: 4em;
    padding: 5px 12px;
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index) * 12deg))translateZ(250px);
}
